/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin: 0 0 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #101010

}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container_footer {
  width: auto
  padding: 0 50px;
}
.container .text-muted {
  margin: 20px 0;
}