<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <button class="navbar-toggle" data-target=".navbar-responsive-collapse" data-toggle="collapse" type="button">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Ujrails</a>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "Projects", projects_path %>
        </li>
      </ul>
    </div>
  </div>
</div>
